{% extends 'base.html.twig'%}
{% block body %}
<div class="container">
<div class="form">
<br> <h2>modifier une categories</h2> <br>
{{form_start(form)}}
{{form_row(form.name,{'attr':{'class':'form form-control'}})}}
<br>
<button type="submit" class="btn btn-success">modifier</button>
{{form_end(form)}}
</div>
</div>
{% endblock %}