{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!
{% endblock %}

{% block body %}
	<h1>Liste des catégories</h1>
	<ul>
		{% for cat in categories %}
			<li>{{cat.libelle}}</li>
			<li>hrerf="{{path('app_category_update',{'id':cat.id})}}"</li>
		{% endfor %}
	</ul>
{% endblock %}
